h2 {
  border: 3px solid #000;
  padding: 30px 80px;
  margin: 10px auto;
  border-radius: 20px;
  margin-bottom: 40px;
  background-color: #DFCCCC;
  width: 40%;
  text-align: left;
}

.post p {
  height: 200px;
  text-align: left;
  padding-left: 220px;
}
