section {
  scroll-margin-top: 128px;
  margin-bottom: 50px;
} 

.title {
  font-size: 2rem;
  margin-bottom: 24px;
  text-decoration: underline;
  color: #1F286F;
}

.button {
  width: 100%;  
  max-width: 300px;
  background-color: #FFF;
  color: #FF42C9;
  border: #1F286F 3px solid;
  border-radius: 100px;
  padding: 8px 12px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #1F286F;
  color: #FF42C9;
  transition: all 0.1s ease-in-out;
}

.camfes-container {
  margin: 0 auto;
  max-width: 400px;
  cursor: pointer;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 16px;
} 

.camfes-container:hover {
  .subtitle {
    color: #FF42C9;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
  }
  .camfes-image {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  } 
}

.camfes-image {
  width: 100%;
  border-radius: 16px;
}