@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
* {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #111;
  text-align: center;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;  
  max-width: 900px;
  margin: 15px auto 48px;
  padding: 16px 40px;

  background-color: #1F286F;
  border-radius: 999px;
  box-shadow: 10px 12px 16px rgba(0, 0, 0, 0.3);

  position: sticky;
  top: 15px;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header p {
  font-size: 1.3rem;
  margin: 0;
  white-space: nowrap;
  color: #fff;
}

header ul {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

header a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

header a:hover {
  color: #FF42C9;
}

footer {
  margin-top: auto;
  padding: 16px 0;
  background-color: #1F286F;
  color: #fff;
  text-align: center;
}