body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #1f286f;
    margin: 0;
    text-align: center;
}

section {
    padding-top: 100px;
    margin-top: -100px;
}

/*--header--*/
header {
    height: 100px;
    width: 100%;
    background-color: #1f286f;
    justify-content: space-between;
    display: flex;
    position: fixed;
    top: 0;
}

header h1 {
    font-family: serif;
    color: #FFFFFF;
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 5px;
}

header h1 a {
    color: #FFFFFF;
    text-decoration: none;
}

header ul li {
    display: inline-block;
    padding: 20px;
}

header ul li a {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
}

/*--top--*/
.top {
    background-image: url(images/top/shizuoka.jpg);
    background-size: cover;
    background-position: center center;
    padding: 150px;
    margin-top: 100px;
    line-height: 0px;
}

.top h1 {
    color: #FFFFFF;
    font-size: 40px;
    letter-spacing: 2px;
}

.top img {
    width: 100%;
    height: auto;
}

/*--fesinfo--*/
.fesinfo h1 {
    font-size: 50px;
    letter-spacing: 2px;
}

.fesinfo h2 {
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-bottom: 10px
}

.fesinfo h3 {
    color:#000000;
}

.map {
    border-radius: 1px;
    width: 70%;
    height: auto;
}

.schedule {
    border-radius: 1px;
    width: 70%;
    height: auto;
}

.event {
    border-radius: 1px;
    width: 60%;
    height: auto;
}

.menu {
    border-radius: 1px;
    width: 70%;
    height: auto;
}

.item {
    background-color: #ffff7f;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin: 5px;
    display: inline-block;
    width: 20%;
}

.money {
    background-color: #f0e68c;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin: 5px;
    display: inline-block;
}
.money img {
    height: 200px;
}

/*--mentor_TA--*/
.mentor_TA h1 {
    font-size: 50px;
    letter-spacing: 2px;
}

.mentor_TA h2 {
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-bottom: -10px
}

.mentor {
    background-color: #bfe9ff;
    border-radius: 30px;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 5px;
    margin: 30px;
    display: inline-block;
    width: 40%;
}

.mentor h3 {
    font-size: 30px;
    letter-spacing: 2px;
    margin: 5px;
}

.TA {
    background-color: #a5e1ff;
    border-radius: 30px;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 5px;
    margin: 30px;
    display: inline-block;
    width: 40%;
}

.TA h3 {
    font-size: 30px;
    letter-spacing: 2px;
    margin: 5px;
}

.icon {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

/*--omikuji--*/
.omikuji h1 {
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: -10px;
}

button {
    color: black;
    font-size: 30px;
    padding: 15px 30px;
    cursor: pointer;
    background-color: #FFCC00;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
    margin: 20px;
}

button:hover {
    background-color: #ffdd33;
    transform: scale(1.05);
}

#resultImage {
    background-color: #000000;
    display: block;
    border-radius: 30px;
    margin: 20px auto;
    padding: 10px;
    width: 500px;
    height: auto;
}

/*--footer--*/
footer {
    background-color: #333333;
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 10px;
}

.footer img {
    padding-right: 10px;
    padding-left: 10px;
    width: 500px;
    padding-bottom: 20px;
}

.QR {
    width: 200px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}